# This workflow will install Python dependencies, run tests and lint
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Validation
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.14"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: |
          uv sync --dev
      - name: Format check
        run: |
          uv run ruff format --check .
      - name: Lint
        run: |
          uv run ruff check
      - name: Type check
        run: |
          uv run mypy krcg_api
      - name: Test
        env:
          LOCAL_CARDS: 1
        run: |
          uv run coverage run -m pytest
          uv run coverage xml
      - name: OAS
        run: |
          uv run openapi-spec-validator krcg_api/templates/openapi.yaml
      - name: Test
        run: |
          uv run coverage run -m pytest
